<body>
    <h3>WRO Future Engineers. Randomization app</h3>
    <p>Driving without obstacles (qualification):</p>
    <ul>
        <li><a href="{{ url_for('generate_qualification_cw') }}">CW</a></li>
        <li><a href="{{ url_for('generate_qualification_ccw') }}">CCW</a></li>
    </ul>
    <p>Driving avoiding obstacles (final):</p>
    <ul>
        <li><a href="{{ url_for('generate_final_cw') }}">CW</a></li>
        <li><a href="{{ url_for('generate_final_ccw') }}">CCW</a></li>
    </ul>
</body>